body {
  font-family: Albert Sans;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 100px;
  gap: 254px;
  margin-bottom: 6px;
    flex-wrap: nowrap;
    cursor: pointer;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.nav-start {
  display: flex;
  align-items: center;
  gap: 54px;
  a{
    text-decoration: none;
    color: var(--primary-color);
  }
}
.nav-opt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:8px;
  padding: 16px 20px;
  flex-wrap: nowrap;
  white-space: nowrap;
  &&:hover{
background-color: #87e64d;
border-radius: 32px;
padding-block: 1px;
outline: 1px solid black;
  }
}
.nav-icon {
  --gap-icon: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-icon);
  button {
    background-color: white;
    width: 139px;
    height: 51px;
    border-radius: 16px;
    border: 1px solid black;
    font-weight: 500;
    transition: all 0.3s ease;
    &&:hover{
      transform: translateY(-5%);
      box-shadow: 0px 4px 0px 0px black;
      background-color:#f4f4f4 ;
    }
    &&:active{
      box-shadow: 0px 2px 0px 0px black;
      transform: translateY(3%);
    }
   
  }
  .search-nav {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .icon-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    svg{
      &:hover{
        color: #87e64d;
      }
    }
   }
  }
.main-heading {
  text-align: center;
  margin-top: 20px;
  h1 {
    font-size: 42px;
    font-weight: 700;
margin-top: 20px;
  }
}
.main-para{
    display: flex;
    justify-content: center;
    gap: 20px;
    p{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #545454;
    }
    svg{
        width: 70px;
    }
}
.for-sale{
    margin-inline: 200px;

}
.each-line{
    display: flex;

    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.each-cat{
    outline: 1px solid #d4d4d4;
    border-radius: 16px;
    padding: 20px;
    width: 200px;
    p{
      
        text-align: center;
        font-weight: 600;
    }
    img{
        width: 165px;
        height: 165px;
      padding-left: 16px;
    }
    &&:hover{
        img{
            transform: scale(1.05);
            transition: all 0.3s ease;
        }
    }
}
.about-sec {
  padding-inline:135px;
  margin: 130px 0;
  text-align: center;

  background-image: url(image.png);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    text-wrap: balance;
    margin-inline: 400px;
  }
}

.upper-bx {
  display: grid;
  gap: 80px;
  align-items: start;

  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "left mid right";
}

.left-detail {
  grid-area: left;
  img{
    width: 164.96194458007812px;
    height: 180.0006866455078;
    
  }
  p{
    text-align: center;
    flex-wrap: balance;
    width:284px;
    color:#8E8E8E;
  }
}

.mid-detail {
  grid-area: mid;
  margin-top: 124px;
  text-wrap: balance;
   img{
    width: 150.00003051757812px;
    height: 180.0006866455078;
  }
  p{
    color:#8E8E8E;
  }
}

.right-detail {
  grid-area: right;
    img{
    width: 180.00003051757812px;
    height: 180.0006866455078;
  }
  p{
    color:#8E8E8E;
  }
}
footer {
  --gap-h1: 30px;
  --padding-svg: 9px;
  background-color: black;
  color: white;
  margin-top:100px;
  padding: 0px;
  border-top: 10px solid #87e64d;
  border-top-left-radius: 48px;
  border-top-right-radius:48px;

  strong {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      border: 1px solid #ffffff;
      height: 32px;
      width: 32px;
      padding: 8px 8px;
      border-radius: 100%;
    }
    p {
      font-weight: 600;
      font-size: 14px;
    }
  }
  .social-acc {
    padding-bottom: 40px;
  }
  .short-line {
    width: 1240px;
  }
}
.last-bx {
  --gap-last-bx: 167px;
  display: flex;
  gap: var(--gap-last-bx);
  padding: 56px 100px 40px 100px;
  span {
    display: grid;
    gap: 0px;

    h4 {
      padding: 0;
    }
    p {
      padding: 0;
      font-size: 14px;
    }
  }
}
.footer-heading {
  padding-inline-start: 60px;
  font-size: 20px;
}
.last-itm {
  --gap-last-itm: 841px;
  display: flex;
  padding-inline-start: 60px;
  gap: var(--gap-last-itm);
  padding: 36px 100px;
}
h4 {
  padding: 0px;
}
